name: Dart & Flutter Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze specific pages
        run: |
          dart analyze lib/features/weather/presentation/pages/alerts_page.dart
          dart analyze lib/features/weather/presentation/pages/favorites_page.dart
          dart analyze lib/features/weather/presentation/pages/home_page.dart
          dart analyze lib/features/weather/presentation/pages/settings_page.dart

      - name: Full project analysis
        run: flutter analyze

      - name: Run unit tests
        run: flutter test

      - name: Try to build debug APK (sanity check)
        run: flutter build apk --debug


