name: Dart & Flutter Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.2'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze specific pages (no fatal warnings)
        run: |
          dart analyze lib/features/weather/presentation/pages/alerts_page.dart || true
          dart analyze lib/features/weather/presentation/pages/favorites_page.dart || true
          dart analyze lib/features/weather/presentation/pages/home_page.dart || true
          dart analyze lib/features/weather/presentation/pages/settings_page.dart || true

      - name: Full project analysis (no fatal warnings)
        run: flutter analyze --no-fatal-warnings --no-fatal-infos

      - name: Run unit tests
        run: flutter test

      - name: Try to build debug APK (sanity check)
        run: flutter build apk --debug



